*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

:root{
    --body-color: #fff;
    --container-color: #eee;
    --container-color-alt: #ddd;
    --border-color-light: #cfcccc;
    --scroll-color: #888091;
    --dropdown-shadow: #b6a2a2;
    --text-color: #000;
    --placeholder-color: #666;
    --header-shadow: #f3e7f3;
}

body[data-theme="dark"]{
    --body-color: #191627;
    --container-color: #100E1B;
    --container-color-alt: #211D35;
    --border-color-light: #cfcccc;
    --scroll-color: #888091;
    --dropdown-shadow: #252525;
    --text-color: #F2F1F3;
    --placeholder-color: #ccc;
    --header-shadow: #0000002d;
}

body{
    height: 100vh;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    width: 100%;
    background: var(--scroll-color);
    border-radius: 10px;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    display: flex;
    align-items: center;
    background: var(--body-color);
    justify-content: space-between;
    height: 5rem;
    box-shadow: 5px 0 10px 10px var(--header-shadow);
    padding: 0 2rem;
    color: var(--text-color);
}


.logo{
    font-size: 2rem;
}

.search__bar{
    border-radius: 8px;
    border: 1px solid var(--border-color-light);
    display: flex;
    width: 300px;
    height: 40px;
}

.search__icon{
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search__input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 8px;
    background: transparent;
    color: var(--text-color);
}
.search__input::placeholder{
    color: var(--placeholder-color);
}
.header__btn{
    margin: 0 8px;
    width: 40px;
    height: 40px;
    border: none;
    background: inherit;
    font-size: 2rem;
    cursor: pointer;
    color: var(--text-color);
}

.dropdown{
    position: relative;
}
.dropdown__content{
    border-radius: 12px;
    width: 300px;
    height: 400px;
    position: absolute;
    top: 100%;
    background-color: var(--container-color);
    box-shadow: 10px 10px 30px 0px var(--dropdown-shadow);
    padding: 8px 0;
    right: 20%;
    z-index: 100;
    display: none;
}
.profile__dropdown{
    height: max-content;
}
.dropdown__data{
    height: 88%;
    width: 100%;
    overflow-x: hidden;
}
.dropdown__data div{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--border-color-light);
}
.drop__down-title{
    padding: 5px 1rem;
    font-weight: 600;
}

.dropdown__content a{
    display: block;
    padding: 10px 1rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 400;
}

.dropdown__content a:hover{
    background: var(--container-color-alt);
}

.dropdown__content a i{
    font-size: 1.4rem;
}

.dropdown__content a b{
    font-weight: 500;
}

.change__theme-btn{
    background: inherit;
    border: none;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}


@media screen and (max-width: 550px) {
    .search__bar{
        width: 200px;
    }
    .notifictaions__dropdown{
        transform: translate(25%, 0);
    }
    .dropdown__content{
        width: 250px;
        height: 300px;
    }
}

@media screen and (max-width: 450px) {
    .search__bar{
        display: none;
    }
}

@media screen and (max-width: 300px) {
    .search__bar{
        display: none;
    }

    .notifictaions__dropdown{
        transform: translate(30%, 0);
    }
    .profile__dropdown{
        transform: translate(15%, 0);
    }
}


